Repository iinels-pes-001/imc, pull requests merged in 2019-08, with the labels that each got.

#12 Implementa método para cálculo de IMC (Issue #10).
  .DS_Store
  hello-world.py
  imc.py
Labels: IMC

#13 isMuitoAbaixoPeso
  .gitignore
  imc.py
Labels: IMC, branch imc

#20 isMuitoAbaixoPeso
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#21 isAbaixoPeso
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#22 imc
  .DS_Store
  .gitignore
  README.md
  hello-world.py
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#23 imc
  .DS_Store
  .gitignore
  README.md
  hello-world.py
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#25 isAcimaPeso
  .DS_Store
  README.md
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#27 imc
  README.md
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#30 Merge imc -> master
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#33 Adequação docstring a PEP287 (Issue #32).
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#34 Adequação docstring a PEP287
  imc.py
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#37 Atualiza README (Issue #36).
  README.md
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#38 Atualiza README (Issue #36).
  README.md
Labels: EXERCÍCIO 1 - IMC, branch imc, sprint 001

#53 Imc v2.1.0
  README.md
  imc.py
  main.py
Labels: EXERCÍCIO 1 - IMC v2.1.0, branch imc, sprint 003

#54 Imc
  imc.py
  main.py
Labels: EXERCÍCIO 1 - IMC v2.1.0, branch imc, sprint 003

#55 Refatora iMC v2.1.0
  imc.py
  main.py
Labels: EXERCÍCIO 1 - IMC v2.1.0, branch imc, sprint 003

#56 Refatora iMC v2.1.0
  imc.py
  main.py
Labels: EXERCÍCIO 1 - IMC v2.1.0, branch imc, sprint 003

#59 Refatora docstream (Issue #58)
  imc.py
Labels: EXERCÍCIO 1 - IMC v2.1.0, branch imc, sprint 003

#66 Refatora docstream (Issue #58)
  imc.py
Labels: EXERCÍCIO 1 - IMC v2.1.0, branch imc, sprint 003
